{% extends 'base.html' %}
{% load staticfiles %}



{% block title %}
    资源下载
{% endblock %}


{% block style %}
  
  <style type="text/css">
      {#页码跳转的显示样式#}
      #page_goto span{
          padding: 6px 4px;
      }
      #page_goto input{
          border: none;
          padding: 0;
          width: 2em;
          text-align: center;
      }
  </style>
{% endblock %}


{% block content %}
<br>

 <h2>下载文件</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>文件名</th>
          <th>描述</th>
          <th>上传时间</th>
          <th>下载链接</th>
        </tr>
      </thead>
      
      <tbody>
      {% for file in files %}
      <tr>
        <td>{{file.file_name}}</td>
        <td>{{ file.descript }}</td>
        <td>{{ file.upload_date }}</td>
        <td><a name="download" class="link-style" href="javascript:" onClick="fdownload({{file.pk}})">下载</a></td>
      </tr>
      {% endfor %}     
      </tbody>
    </table>
  </div>
  <br>
  
  <div>
    <ul class="pagination">
        <li class="page-item">
            <a href="?page=
                {% if files.has_previous %}
                    {{files.previous_page_number}}
                {% else %}
                    {{files.number}}
                {% endif %}"
             aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for page in pages.page_range_ex %}
            {% if page == '...' %}
                <li><span>...</span></li>
            {% else %}
                <li class="page-item "><a href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}

        <li class="page-item ">
            <a href="?page=
                {% if files.has_next %}
                    {{files.next_page_number}}
                {% else %}
                    {{files.number}}
                {% endif %}"
             aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

  </div>

{% endblock %}


{% block script %}
  <script src="{% static 'js/plug-in.js' %}" ></script>

  <script type="text/javascript">

    //jq ajax
    function fdownload(file_pk){
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.ajax({
          url:"{% url 'file_download'  %}",
          type:"POST",
          data:{"file_pk":file_pk},
          success:function(result, textStatus, jqXHR){
            if(result == "true"){
                $.Pop('您没有相关文件的下载权限！',{Animation:'showSweetAlert'});
              }
            else{
                var link=document.createElement('a');
                link.href = new URL(result,'http://localhost:8000/')
                link.click();
                }
              }               
      });
    }
  </script>
  <script type="text/javascript">
    {#设置凸显当前页码#}
    $(".pagination li a").each(function(){
        if($(this).text()=="{{files.number}}"){
            $(this).parent().addClass("active");
        }
    });
 
    {#页码跳转处理#}
    function page_goto(){
        var page = $("#page_goto input")[0].value;
        window.location.href = '?page=' + page;  //重定向
        return false;
    }
  </script>
  


{% endblock %}


