{% extends 'base.html' %}
{% load staticfiles %}



{% block title %}
    资源下载
{% endblock %}


{% block style %}
  <script type="text/javascript">
  　　function myfun(y) 　　
    { 　
        if(y == true)　{
          alert("您没有相关下载权限！"); 
        } 
        　　
    } 　　　
    window.onload = myfun({{error_message}});
  </script>
{% endblock %}


{% block content %}
<br>

 <h2>下载文件</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>文件名</th>
          <th>描述</th>
          <th>上传时间</th>
          <th>下载链接</th>
        </tr>
      </thead>
      <tbody>
      {% for file in files %}
      <tr>
        <td>{{file.file_name}}</td>
        <td>{{ file.descript }}</td>
        <td>{{ file.upload_date }}</td>
        <td><a name="download" class="link-style" href="javascript:" onClick="fdownload({{file.pk}})">下载</a></td>
        <!-- <td><a class="link-style" href="{% url 'test_file_download' file.pk %}" >下载</a></td> -->
      </tr>
      {% endfor %}
      </tbody>
      <!-- <tbody>
        <tr>
          <td>1</td>
          <td>blue.png</td>
          <td>图片</td>
          <td>2018/2/20</td>
          <td><a class="link-style" href="img\blue.png" download="blue">下载</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>pink.png</td>
          <td>图片</td>
          <td>2018/2/20</td>
          <td><a class="link-style" href="img\pink.png" download="pink">下载</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>purple.png</td>
          <td>图片</td>
          <td>2018/2/20</td>
          <td><a class="link-style" href="img\purple.png" download="purple">下载</a></td>
        </tr>
      </tbody> -->
    </table>
  </div>
  <br>
  <nav class="page" aria-label="...">
    <ul class="pagination justify-content-center">
      {% if page.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page=1" tabindex="-1">&laquo;</a>
          </li>
      {% else %}
          <li class="page-item  disabled">
            <a class="page-link" href="?page=1" tabindex="-1">&laquo;</a>
          </li>
      {% endif %}
      
      {% for number in page.paginator.page_range %}
        {% if page.paginator.num_pages <= 5 %}
          {% if page.number is number %}
            <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
          {% else %}
            <li class="page-item "><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
          {% endif %}
        {% else %}
          {% if number == 1 or number == page.paginator.num_pages %}
            {% if page.number is number %}
              <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% else %}
              <li class="page-item "><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% endif %}
          {% else %}
            {% if page.number is number %}
              <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% elif number == page.number|add:1 %}
              <li class="page-item "><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
              <li class="page-item"><a class="page-link">...</a></li>
            {% elif page.number == number|add:1 %}
              <li class="page-item"><a class="page-link">...</a></li>
              <li class="page-item "><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}" tabindex="-1">&raquo;</a>
          </li>
      {% else %}
          <li class="page-item  disabled">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}" tabindex="-1">&raquo;</a>
          </li>
      {% endif %}      
    </ul>
       
  </nav>

{% endblock %}


{% block script %}
  <script src="{% static 'js/plug-in.js' %}" ></script>

  <script type="text/javascript">
    // plain ajax csrf !!!!
    // var csrfcookie = function() {
    //   var cookieValue = null,
    //       name = 'csrftoken';
    //   if (document.cookie && document.cookie !== '') {
    //       var cookies = document.cookie.split(';');
    //       for (var i = 0; i < cookies.length; i++) {
    //           var cookie = cookies[i].trim();
    //           if (cookie.substring(0, name.length + 1) == (name + '=')) {
    //               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //               break;
    //           }
    //       }
    //   }
    //   return cookieValue;
    // };

    //jq ajax
    function fdownload(file_pk){
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.ajax({
          url:"{% url 'file_download'  %}",
          type:"POST",
          data:{"file_pk":file_pk},
          success:function(result, textStatus, jqXHR){
            if(result == "true"){
                $.Pop('您没有相关文件的下载权限！',{Animation:'showSweetAlert'});
              }
            else{
                var link=document.createElement('a');
                link.href = new URL(result,'http://localhost:8000/')
                link.click();
                }
              }               
      });
    }

  </script>
  
{% endblock %}


