{% load staticfiles %}
<html>
    <head>
      
    </head>
    <body>

    <p>请输入两个数字</p>
      <form action="/add/" method="get">
          a: <input type="text" id="a" name="a"> <br>
          b: <input type="text" id="b" name="b"> <br>
          <p>result: <span id='result'></span></p>
          <button type="button" id='sum'>提交</button>
      </form>
 
 
        <div id="dict">Ajax 加载字典</div>
        <p id="dict_result"></p>
         
        <div id="list">Ajax 加载列表</div>
        <p id="list_result"></p>

       <input type="button" value="弹性显示" onClick="$.Pop('您没有相关文件的下载权限！',{Animation:'showSweetAlert'})">


    </body>
      <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
       <script src="{% static 'js/plug-in.js' %}" ></script>
         <script>
            
          </script>
</html>



 $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.ajax({
          url:"{% url 'file_download'  %}",
          type:"POST",
          data:{"file_pk":file_pk},
          success:function(error_message){
            if(error_message == "true"){
                $.Pop('您没有相关文件的下载权限！',{Animation:'showSweetAlert'});
              }
            else{
               var req = new XMLHttpRequest();
                req.onload = function (event) {
                   var blob = req.response;
                   var fileName = req.getResponseHeader("fileName") //if you have the fileName header available
                   var link=document.createElement('a');
                   link.href=window.URL.createObjectURL(blob);
                   link.download=fileName;
                   link.click();
                };
              }               
          },
      });
    }
