{% extends 'base.html' %}
{% load staticfiles %}



{% block title %}
    研究室成员
{% endblock %}





{% block content %}
 <div class="card-deck space-style justify-content-around">
    <div class="card card-style">
      <img class="card-img-top" src="{% static 'img\XingKui.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title title">团队带头人：邢岿教授</h5>
        <p class="card-text paragraph">在英国帝国理工大学工作多年，主持欧盟FP7框架项目(EU FP7 CELAR)一项，英国高等教育专项项目(HEFCE)一项，参与欧盟工业项目十二项。在国内外会议期刊上发表学术论文30余篇，获欧盟及德国专利两项。</p>
      </div>
    </div>
    <div class="card card-style">
      <img class="card-img-top" src="{% static 'img\boy.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title title">研究人员B</h5>
        <p class="card-text paragraph">此人简介</p>
      </div>
    </div>
    <div class="card card-style">
      <img class="card-img-top" src="{% static 'img\boy.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title title">研究人员C</h5>
        <p class="card-text paragraph">此人简介</p>
      </div>
    </div>
  </div>

{% endblock %}

